nav {
  display: flex;
  width: 100%;
  margin-top: 5px;
  background-color: white;
  padding: 10px 0 20px 0;
  justify-content: space-around;
}

nav > div { align-self: flex-end;}

.logo { order: 1;}

.nav-left, .nav-right { transition: max-height 1.5s;}

nav > div > a {
  text-decoration: none;
  color: #2b2b2b;
  margin: 0px 5px;
}

nav > div:nth-child(3) { order: 2; }

.toggle {
  background-color: white;
  border: none;
  display: none;
}

.fa-reorder {
  font-size: 50px;
  padding-left: 15%;
  background-color: white;
}

@media screen and (max-width: 768px) {
   nav {
    padding-bottom: 10px;
    flex-direction: column;
    align-items: stretch;
   }
   nav > div {
     margin: auto;
     text-align: center;
   }
   .toggle { display: block;}
   
   .logo {
     order: 0;
     width: 100%;
     position: relative;
   }
   nav > div > img {
     width: 82px;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
   }
   nav > div > a {
     display: block;
     padding: 20px;
   }
   .nav-left, .nav-right {
     max-height: 0;
     overflow: hidden;
   }

   .nav-left.responsive,
   .nav-right.responsive {
     display: block;
     /*--*/
     max-height: 15em;
   }
 }