@import url('https://fonts.googleapis.com/css?family=Rubik:400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFCF01;
}

.load {
  overflow: hidden;
  height: 100vh;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	background-color: white;
	z-index: 99;
	text-align: center;
}

#loading-image {
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 margin: auto 0;
 z-index: 100;
}

p { color: #3a3a3a;}

a {
  text-decoration: none;
  color: #3a3a3a;
}

a:hover { color: #ffb600;}

header {
  background-image: url(../images/lemonback.jpg);
  background-size: contain;
  min-height: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  background-color: white;
  display: inline-block;
  box-shadow: 0px 0px 0px 20px rgba(153,153,0, .3);
  text-align: left;
  color: #3a3a3a;
  margin: 30px;
}

.col { float: left;}

.row-1 { 
  padding: 40px 0px 20px;
  text-align: left;
  display: inline-block;
}

h3, h1 { margin-bottom: 10px;}

h3 { font-size: 20px;}

h1 {
  font-size: 33px;
  display: inline-block;
  position: relative;
}

h1::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 45%;
  border-bottom: 2px solid;
  margin-top: 10px;
}

.col > .row > p {
  margin: 10px 0px;
  line-height: 20px;
}

.menu-btn {
  color: white;
  background-color: #7dcc00;
  padding: 15px 50px;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 35px;
  display: inline-block;
  text-decoration: none;
}

.menu-btn:hover, 
.menu-btn:active {
  background-color: #4d9b04;
}
/*----------SECTION----------------*/
section {
  padding: 60px 100px;
  background-color: white;
  text-align: center;
}

section > h2 {
  font-size: 25px;
  padding-bottom: 20px;
}

.container > div {
  padding: 15px;
  display: inline-block;
  width: 220px;
}

.container > div > img {
  padding: 10px;
}

.container > div > h4 {
  font-size: 18px;
  margin: 10px;
}

.container > div > p {
  font-size: 14px;
  color: #3a3a3a;
  line-height: 17px;
}
/*------------- BANNER -----------------*/
.banner {
  background-color: #84B8C5;
  height: 420px;
  background-image: url(../images/girlx.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word-banner {
  z-index: 10;
  width: 43%;
  margin-right: 20%;
}

.word-banner > h2,
.word-banner > p { padding: 10px;}
/*----------2nd SECTION----------*/
.word22 {
  width: 43%;
  margin: auto;
  margin-bottom: 20px;
}

.word22 > h2,
.word22 > p { padding: 10px;}

.container22 {
  display: inline-block;
  width: 45%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.container22 > div > p,
.container22 > div > .ham {
  color: #3a3a3a;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 50px;
}
/*-----Section 3-------*/
.section-3 {
  background-color: #a1dfea;
  text-align: center;
  padding: 60px;
  position: relative;
}

.section-3 > img {
  max-width: 850px;
  max-height: 380px;
  width: 100%;
  height: auto;
}

.section-3 > .word-box {
  text-align: left;
  position: absolute;
  top: 22%;
  left: 63%;
  width: 30%;
  background-color: white;
  padding: 30px 30px 20px;
}

.word-box > h2,
.word-box > p { padding: 10px;}

.word-box > p {
  font-size: 15px;
  line-height: 18px;
  color: #3a3a3a;
}
/*------Footer--------*/
footer {
  background-color: #cdeef7;
  color: #3a3a3a;
  padding: 45px 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer > div {  padding: 20px;}

footer > div > h5 { padding-bottom: 10px;}

.footer-nav { display: inline-block;}

.footer-nav-container {
  display: flex;
  justify-content: space-between;
}

.footer-nav-container > div {
  font-size: 13px;
  margin-right: 100px;
}

.footer-nav-container > div > ul > li { padding-bottom: 10px;}

.social-link {  float: right;}

td { padding-right: 30px;}



@media screen and (min-height: 738px) {
  header {
    min-height: 65%;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  /*header*/
  .col {
    text-align: center;
    float: none;
    margin-right: 0;
    width: auto !important;
    padding: 0px 10px;
  }
  .col:nth-child(2) { padding-bottom: 40px;}

  .row-1 { padding-top: 0px;}
  /*section*/
  section { padding: 60px 20px;}
  /*BANNER*/
  .banner { height: 220px;}

  .word-banner { width: auto;}

  .word-banner > p { font-size: 12px;}
  /*2nd SECTION*/
  .word22, .container22 {
    width: auto;
    margin-bottom: 40px;
  }
  .container22 > div > p,
  .container22 > div > .ham { padding: 0px;}
  /*SECTION-3*/
  .section-3 > .word-box {
    width: auto;
    position: static;
    padding: 0px;
  }
  /*FOOTER*/
  footer { flex-direction: column;}

  .footer-nav-container > div { margin-right: auto;}
}